body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;


}

/* .homepage {
  background-image: url("https://images.unsplash.com/photo-1531875506263-dfcc69e73475?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4f8f5baa5c9e3301d280c6c9ddeb8aa1&auto=format&fit=crop&w=750&q=80");
  background-origin: border-box;
} */
